//清空bs5 預設樣式
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6{
  margin-bottom: 0;
}

a{
  padding: 0;
  text-decoration: none;
 
}

p{
  margin-bottom: 0;
}


img {
  max-width: 100%;
  // height: auto;
  vertical-align: middle;
}